.player-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  column-gap: 4rem;
  flex-wrap: wrap;
}

.player-container div {
  width: 45%;
}

.player-container h1 {
  transition: 500ms;
  text-align: center;
}
